*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #AF8F6F;
  font-family: "Poppins", sans-serif;
}

.top{
  background-color: #543310;
  width: 100%;
  position: fixed;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left-container h1{
  font-size: 40px;
  color: white;
  padding-left: 30px;
}

.top-right-container a{
  font-size: 30px;
  text-decoration: none;
  color: white;
  padding-right: 40px;
  transition: .4s;
}

.top-right-container a:hover{
  opacity: 30%;
}

.content{
  padding-top: 70px;
}

.welcome-text{
  text-align: center;
  font-size: 30px;
}

.welcome-text img{
  width: 480px;
}

.welcome-text-link{
  color: white;
  transition: .3s;
}

.welcome-text-link:hover{
  color: red;
}

footer{
  background-color: #F8F4E1;
  text-align: center;
  color: #74512D;
  padding: 10px;
  font-size: 30px;
}

footer img{
  width: 40px;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .top-left-container h1{
    font-size: 25px;
  }

  .top-right-container a{
    font-size: 20px;
  }
  
  .welcome-text img{
    width: 300px;
  }

  .welcome-text{
    font-size: 15px;
  }

  footer{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}